# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.python-version

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log

# -----------------------------
# Data
# -----------------------------
data/raw/
data/markdown/
data/chunks/

data/urls.txt

# -----------------------------
# Vector Database
# -----------------------------
vector_db/

# Chroma
chroma.sqlite3

# -----------------------------
# Notebook checkpoints
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Testing
# -----------------------------
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Mypy
.mypy_cache/

# Ruff
.ruff_cache/

#uv
uv.lock